<h1>Login</h1>
<%= form_with(url: login_path, local: true) do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, name: "session[email]" %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password, name: "session[password]" %>
  </div>
  <div>
    <%= f.submit "Login" %>
  </div>
<% end %>