<h1>基本情報の編集</h1>

<%= form_with(model: @user, local: true) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div>
    <%= f.label :name_order, "Name Order" %>
    <%= f.select :name_order, [["Western", "western"], ["Eastern", "eastern"]], {}, { id: "name_order_select" } %>
</div>

<div>
    <%= f.label :given_name, "Given Name" %>
    <%= f.text_field :given_name, value: @user.given_name || "" %>
</div>

<div>
    <%= f.label :family_name, "Family Name" %>
    <%= f.text_field :family_name, value: @user.family_name || "" %>
</div>

<div>
    <%= f.label :email %>
    <%= f.email_field :email, value: @user.email || "" %>
</div>



<div class="actions">
    <%= f.submit "更新" %>
</div>
<% end %>

<%= link_to '戻る', user_path(@user) %>